<section class="intro">
    <div class="content">
        <p>
            Hello, I'm <strong>{{ site.name }}</strong>, a Software engineer at Invitae. I build and maintain
            applications using <strong>Python</strong>, <strong>Django</strong>, <strong>AWS</strong>, and
            <strong>PostgresSQL</strong> and other web technologies.
            You may contact me at
            <strong>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
            </strong>
        </p>
    </div>
</section>