.entry
  margin-bottom: 40px
  max-width: 650px

  &:last-of-type
    margin-bottom: 0

.description
  margin: 10px 0

.title
  font-weight: $title-weight
  margin-bottom: 2px

  &--section
    +tablet
      margin-bottom: 10px
      text-align: left
      width: auto
    color: $accent
    text-align: left

.subtitle
  font-size: .98rem
  font-weight: $subtitle-weight

.content
  margin: 0 auto
  max-width: 650px
  width: 100%

.intro
  +tablet
    font-size: 1.1rem
    margin-left: 0
    text-align: left
    width: auto
  display: flex
  flex-direction: column
  justify-content: space-between

.date-range
  font-size: 90%

.skills
  .content
    display: flex
    flex-direction: row

  &--category
    +subtablet
      flex-wrap: wrap
      margin-bottom: 25px
      margin-right: 50px

    margin-right: 25px

    &--item
      font-size: .9rem
      margin: 5px 0

.post
  max-width: 600px
